montgomery.pdf
.Rproj.user
/exercises/04/heights.jpg
/.Rhistory
.RData
/exercises/05/Q1 (on board).docx
/exercises/Submission guidelines for data analysis course.docx
/exercises/07/EX07.docx
/exercises/08/08.docx
/lectures/data/wildlife_impacts.csv
lectures/libs
/HW/HW3/answers/EX09_Questions_and_Solutions.docx
/exercises/10/10.docx
/exercises/11/HW4 Q2 solution.docx
/HW/HW5/HW5.docx
/exercises/12/~$ex12.docx
/exercises/12/ex12.docx
/exercises/13/ex 13.docx
/lectures/*.html
/lectures/*_files
distribution_shiny_app/rsconnect
labs/rsconnect/
/labs/*_files/
/labs/*.html

# ignore temporary files declared via tmp_*.*
tmp_*.*
/tmp_bug_example